@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
$large: 30px;
$small: 20px;
//font-size 
$padding: 100px 0;
// default padding = 100px
.container {
    width: 90%;
    margin: 0 auto;
}

// default width for each sections
@mixin button-read() {
    margin-left: 70px;
    border: none;
    background: #61c4be;
    color: #fff;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    margin: auto;
}

@mixin button-readmore() {
    background: none;
    border: none;
    color: #2f5daa;
    cursor: pointer;
    outline: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("img/background-header.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
    .header-nav-bar {
        padding-top: 60px;
        display: flex;
        justify-content: space-around;
        .logo-wrapper img {
            width: 100%;
        }
        li {
            padding-top: 20px;
            display: inline-block;
            padding-left: 25px;
            a {
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #fff;
                font-size: 19px;
                /*  #4C4D4D; */
            }
            a:hover {
                color: #61c4be;
            }
        }
    }
    .div-header-center {
        padding-top: 18%;
        text-align: center;
        color: #fff;
        h1 {
            font-size: 9em;
            padding-bottom: 15px;
            font-weight: 300;
            letter-spacing: 8px;
        }
        h2 {
            font-weight: 300;
            padding-bottom: 40px;
            text-transform: uppercase;
        }
        .we-are-hiring {
            outline: none;
            border: none;
            background: #61c4be;
            color: #fff;
            padding: 10px 30px;
            font-size: 1.3em;
            margin-bottom: 100px;
            cursor: pointer;
            margin-right: 10px;
            border-radius: 16px;
            font-weight: 300;
        }
        .we-are-hiring:hover {
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            border: 2px solid #61c4be;
        }
        button {
            outline: none;
            background: none;
            border: 2px solid #61c4be;
            color: #fff;
            padding: 10px 40px;
            font-size: 1.3em;
            margin-bottom: 100px;
            cursor: pointer;
            border-radius: 16px;
        }
        button:hover {
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            background: #61c4be;
            color: #fff;
        }
    }
}

#info-codexio {
    padding: $padding;
    .info-title {
        display: flex;
        justify-content: center;
        div {
            width: 30%;
        }
        .text-title {
            width: 50%;
        }
    }
    .container-info-text {
        .logo-with-text {
            display: flex;
            div {
                // width: 40%;
                flex-grow: 2;
            img {
                flex-grow: 1;
                // width: 50%;
                float: right;
            }
        }
        }
        h3 {
            color: #2E5CA9;
            font-size: 3.5em;
            font-weight: 400;
            padding-bottom: 10px;
        }
        h4 {
            font-size: 1.8em;
            font-weight: 400;
            color: #595a5a;
            padding-bottom: 20px;
        }
        .pharagraph-text {
            p {
                padding-top: 22px;
                font-size: $small;
                line-height: 1.6;
                font-weight: 400;
            }
            p:last-child {
                padding-top: 6px;
            }
        }
    }
}
#services {
    background: #f2f2f3;
    padding: $padding;
    h3 {
        text-align: center;
        font-size: 45px;
        font-weight: 300;
        padding-bottom: 40px;
    }
    .services-icons {
        padding-top: 70px;
        display: flex;
        justify-content: space-around;
        .web h4,
        .mobile h4,
        .blockchain h4,
        .consultancy h4 {
            font-weight: 400;
            font-size: $small;
        }
        .web,
        .mobile,
        .blockchain,
        .consultancy {
            text-align: center;
        }
        .web img,
        .mobile img,
        .blockchain img,
        .consultancy img {
            text-align: center;
            margin: auto;
        }
    }
    .image-background {
        margin: auto;
        width: 80%;
        border: 2px solid lightgray;
        padding: 50px;
        margin-top: 70px; // background: url("img/image-background-services.png");
    }
    .text-services p {
        width: 80%;
        margin: auto;
    }
}

#project {
    padding: $padding;
    .project-text {
        h3 {
            text-align: center;
            font-size: 45px;
            font-weight: 300;
            padding-bottom: 40px;
        }
        p {
            width: 80%;
            margin: auto;
            font-size: 20px;
            line-height: 1.5;
        }
    }
    #project-container {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        img {
            padding-top: 20px;
        }
        img:hover {
            padding-bottom: 8px;
            border-bottom: 3px solid #D87A5F;
        }
        p {
            padding-left: 30px;
            width: 50%;
            line-height: 1.4;
            margin: 0;
            font-size: 20px;
            a {
                text-decoration: none;
                visibility: visible;
                color: #2E5CA9;
            }
        }
    }
}

#clients {
    padding: $padding;
    background: url("img/clients-background.jpg") no-repeat;
    background-size: cover;
    h3 {
        text-align: center;
        font-size: 45px;
        font-weight: lighter;
        padding-bottom: 40px;
    }
    .clients-logos {
        width: 80%;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: auto;
        #softuni-logo {
            width: 25%;
        }
        .clients-logos,
        a,
        img {
            width: 50%;
            margin: auto;
        }
        .clients-logos,
        a,
        img:last-child {
            width: 60%;
            border-radius: 3px;
        }
    }
}
#careers{
    background: lightgray;
    padding: $padding;
    h3{
        text-align: center;
        font-size: 45px;
        font-weight: lighter;
        padding-bottom: 40px;
    }
    div {
        text-align: center;
    }
    img {
        width: 30%;
    }
}

#contact-us {
    display: flex;
    justify-content: space-around;
    padding: $padding;
    .left-part {
        form {
            padding: 0 0 0 200px;
            h3 {
                padding-bottom: 90px;
                font-size: 45px;
                font-weight: lighter;
            }
            h4 {
                padding-bottom: 8px;
                font-size: 20px;
                font-weight: 600;
                span {
                    color: #61c4be;
                    /*    color:#2f5daa   */
                }
            }
            label input[type=text] {
                padding: 12px 40px 12px 5px;
                margin-right: 20px;
                border: 1px solid gray;
                border-radius: 10px;
                outline: none;
            }
        }
        .email-label h4 {
            padding-top: 25px;
            padding-bottom: 8px;
        }
        label input[type=email] {
            padding: 12px 280px 12px 5px;
            border: 1px solid gray;
            border-radius: 10px;
            outline: none;
        }
        .comment-text h4 {
            padding-top: 25px;
            padding-bottom: 8px;
        }
        label textarea {
            padding: 10px 600px 100px 5px;
            border: 1px solid gray;
            border-radius: 10px;
            outline: none;
        }
        button,
        .button-two {
            margin-top: 20px;
            border: none;
            background: #61c4be;
            color: #fff;
            padding: 10px 50px;
            font-size: 1.3em;
            margin-bottom: 100px;
            cursor: pointer;
            border-radius: 16px;
            outline: none;
        }
    }
}

.right-part {
    padding: 60px 0 0 80px;
    div img {
        width: 50%;
    }
    .right-text-container p {
        padding: 0 0 0 20px;
        font-size: 20px;
        margin: 5px 0;
    }
}

.social-media {
    display: flex;
    p {
        padding: 10px 0 0 20px;
        font-size: 20px;
        padding-left: 20px;
    }
    i {
        font-size: 40px;
        padding-left: 10px;
        color: #4267B2;
    }
    .fa-linkedin-square {
        color: #0077B5;
    }
}

footer {
    text-align: center;
    padding: $padding;
    background-color: #29394B;
    img {
        width: 15%;
    }
    p {
        padding-top: 10px;
        font-size: 14px;
        color: #999E9A;
        font-weight: 600;
    }
}

#map {
    height: 400px;
}

#content {
    padding: 60px 60px 20px 60px;
    text-align: center;
    font-size: 17px;
    height: 100px;
    font-weight: 400;
}

//-----scrollbar-----//
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #4083B0;
    border-radius: 5px;
}