// @import './mixins';

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../img/background-header.jpg") no-repeat;
  background-size: cover;
  height: 100vh;

  @media screen and (max-width: 768px) {
    height: 100vh;
  }

  .header-nav-bar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    #nav-button {
      color: #fff;
      font-size: 1.8em;
      display: none;
    }
    #close-nav {
      display: none;
      color: #fff;
      font-size: 1.8em;
    }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header-logo-container {
        width: 20%;
        img {
          width: 100%;
        }
      }
      li {
        display: inline-block;
        padding-left: 10px;
        a {
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #fff;
          font-size: $small;
        }
        a:hover {
          color: $color;
        }
      }
    }
  }
  #navigation {
    transform: translate(0px, -1999px) // width: 100%;
    // display: none;
  }
  .div-header-center {
    text-align: center;
    color: #fff;
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    h1 {
      font-size: 7em;
      font-weight: 300;
      letter-spacing: 8px;
      margin: 0;
    }
    h2 {
      font-weight: 300;
      padding-bottom: 40px;
      text-transform: uppercase;
    }
    .button-hiring {
      @include button();
      background: $color;
      margin-right: 10px;
    }
    .button-contact-us {
      @include button();
      padding: 10px 40px;
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
    .button-hiring:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      border: 2px solid $color;
    }
    .button-contact-us:hover {
      background: $color;
    }
  }
}