// font-size
$default-body-font: 16px;
// xsmall font for Breakpoints 320px
$xsmall: 0.9em;
// small font-size
$small: 1.0em;
$large: 1.88em;
// Medium font-size for Breakpoints 320px
$medium: 2.7em;
$extralarge: 3em;
$line-height: 1.5;
// default padding = 100px
$default-section-padding: 100px 0;
// default line height
// padding top
$padding-top-space-large: 3%;
$padding-top-space-small: 1%;
// padding bottom
$padding-bottom-space-large: 3%;
$padding-bottom-space-small: 2%;
// default transition time
$animation-time: 0.5s;
// color auqa button-border
$button-border-color:#61c4be;
// color white
$white: #fff;
// text color blue (heading and e-mail)
$main-txt-color:#2E5CA9;
// width for Media Queries = 100%
$max: 100%;
