// font-size
$default-body-font: 16px;
// xsmall font for Breakpoints 320px
$xsmall: 0.9em;
$small: 1.0em;
$large: 1.88em;
// Medium font for Breakpoints 320px
$medium: 2.7em;
$extralarge: 3em;
$line-height: 1.5;
// font-weight
$weight-s: 300;
$weight-m: 400;
$weight-l: 500;
// default padding = 100px
$padding: 100px 0;
// default line height
// padding top
$padding-t-extralarge: 5%;
$padding-t-large: 3%;
$padding-t-small: 1%;
// padding bottom
$padding-b-extralarge: 3%;
$padding-b-large: 2%;
$padding-b-small: 0.1%;
// padding left
 $padding-l-large: 2%;
 //margin
 $margin-r-xsmall: 0.1%;
 $margin-r-small: 1%;
 $margin-r-large: 2%;
 $margin-t-small: 1%;
 $margin-t-large: 2%;
 $margin-t-extralarge: 5%;
 $margin-b-small: 1%;
 $margin-b-large: 3%;

// letter-spacing
$let-space-sm: 1px;
$let-space-lar: 2px;
$let-space-extralar: 8px;

// default transition time
$animation-time: 0.5s;
// color auqa
$color:#61c4be;
// color white
$white: #fff;
// color blue
$blue:#2E5CA9;
// width for Media Queries
$max: 100%;

