@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import './partials/variables';
@import './partials/mixins';

// default width for each sections
.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: $max;
  font-family: 'Roboto', sans-serif;
  line-height: $line-height;
  font-size: $default-body-font;
}

main {
  overflow: hidden;
}

img {
  max-width: $max;
}

.link {
  text-decoration: none;
  color: $white;
  font-size: $small;
}

/* Header */
// linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
#header {
  background: url("../img/part-of-background.png") no-repeat;
  background-size: cover;
  // background-size: 110em;
  padding: 5%;
  width: 100%;
  overflow: hidden;

  .header-nav-bar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: $max;
    padding: 1%;
  }

  .primary-nav-bar {
    display: flex;
    // align-items: center;
  }

  .header-logo-container {
    img {
      width: 40%;
    }
  }

  .fa-bars,
  .fa-power-off {
    display: none;
    color: $white;
    font-size: $large;
  }

  .main-navigation {
    margin-left: 4%;
  }

  li {
    display: inline-block;
    // padding-top: 0.2em;
    padding-left: 0.7em;

    // margin-left: 1%;
    a {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.7em;

      &:hover {
        color: $button-border-color;
      }
    }
  }

  .navigation {
    transform: translate(0px, -1999px)
  }

  .div-header-center {
    // text-align: left;
    color: $white;
    position: relative;
    bottom: -9em;
    left: 4em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  h1 {
    font-size: 6em;
    font-weight: 300;
    letter-spacing: 8px;
    margin: 0;
  }

  h2 {
    font-weight: 300;
    padding-bottom: $padding-bottom-space-small;
    text-transform: uppercase;
    margin-left: 5%;
  }

  .button-hiring {
    @include button();
    background: $button-border-color;
    margin-left: 6%;

    &:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      border: 2px solid $button-border-color;
    }
  }

  .button-contact-us {
    @include button();
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

    &:hover {
      background: $button-border-color;
    }
  }

  .laptop-design {
    position: relative;
    left: 40em;
    bottom: 6em;
    width: 40%;
  }
}

/* End of Header */

/* Info Codexio */

#info-codexio {
  padding: $default-section-padding;
  padding-bottom: 0;

  .codexio-title {
    text-align: center;
  }

  h3 {
    color: $main-txt-color;
    font-size: 3em;
    font-weight: 400;
    padding-bottom: 0.1%;
  }

  h4 {
    font-size: $small;
    font-weight: 400;
    color: #595a5a;
    padding-bottom: $padding-bottom-space-small;
  }
}

.info-logo-container {
  @include flexbox();

  img {
    width: 11%;
    height: 5%;
  }

  p {
    padding-left: 2%;
    font-size: $small;
    font-weight: 400;

    &:last-child {
      padding-top: $padding-top-space-small;
    }
  }
}

.part-of-design-info-container {
  position: relative;

  .design-info-container {
    position: absolute;
    bottom: -10em;
    width: 20%;
    right: -5em;
  }
}


/* End of Info Codexio */

/* Services */

#services {
  // background: #f2f2f3;
  padding: $default-section-padding;

  h3 {
    @include title();
  }

  .services-info-text {
    margin: auto;
    font-size: $small;
    margin-bottom: 8em;
  }

  // .services-icons {
  //   -webkit-transform: translate(-50%, -50%);
  //   -ms-transform: translate(-50%, -50%);
  //   transform: translate(-50%, -50%);
  // }

  // .service-container {
  //   // margin: auto;
  //   text-align: center;
  //   cursor: pointer;
  //   background: #fff;
  //   max-width: 380px;
  //   box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.20);
  //   border-radius: 5%;
  //   font-size: 0.9em;
  //   padding: 1.5%;
  //   position: relative;
  // }

  .services-icons {
    display: grid;
    // padding: 3em;
    margin: auto;
    // grid-template-rows: auto auto auto;
    justify-content: stretch;

    // &:first-of-type {
    //   @include flexbox($flex-direction: column);
    // }
    // &:nth-child(2) {
    //   @include flexbox($justify-content: space-around);
    // }
    .first-row-container,
    .third-row-container {
      @include flexbox($justify-content: center);
      position: relative;
    }

    .first-row-container {
      z-index: 1;
      .line-top-left {
        position: absolute;
        left: 15em;
        top: 4em;
        z-index: -1;
      }

      .line-top-right {
        position: absolute;
        right: 15em;
        z-index: -1;
        top: 3em;
      }
    }

    .third-row-container {
      z-index: 1;
      .line-bottom-left {
        position: absolute;
        left: 15em;
        z-index: -1;
        bottom: 5em;
      }

      .line-bottom-right {
        position: absolute;
        right: 15em;
        bottom: 5em;
        z-index: -1;
      }
    }
  }

  // width: 50%;
  //   border-radius:50%;
  //   box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.20);
  h4 {
    font-weight: 300;
    font-size: $small;
  }

  .web-container,
  .consultancy-container {
    text-align: center;
  }

  .service-container {
    @include flexbox($justify-content: space-around);
    text-align: center;

    /*------------------------------------*\
    $Base
\*------------------------------------*/
    .graph__wrapper {
      width: 10px;
      height: 10px;
      margin: 30px auto;
      position: relative;

      svg {
        position: absolute;
        margin: 36px 0px 0px 15px;
      }

      // 2. Animation 				================
      .Linedraw1 {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 3s ease-in forwards;
        animation-iteration-count: 1;
        animation-delay: 0;
      }

      @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }

      .description {
        font-family: "Roboto";
        color: lighten(darkgrey, 50%);
        text-align: center;
        margin: 40px 0px;
      }
    } 
  }


  // padding: 5em;
  // .mobile-container, .blockchain-container {
  //   width: 15%;
  // border-radius: 10%;
  // box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.20);
  // }


  img {
    width: 100px;
    height: auto;
    // &:hover {
    //   cursor: pointer;
    //   width: 10%;
    // }

    //   &:hover {
    //     cursor: pointer;
    //     width: 10%;
    //     border-radius: 20%;
    //     box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.10);

    // }
  }

  // .service-container {
  //   &:first-of-type {
  //     z-index: 4;
  //     position: absolute;
  //     left: 50em;
  //     top: 140em;
  //     // transform: translate(-50%, -50%);
  //   }

  //   &:nth-child(2) {
  //     z-index: 3;
  //     position: absolute;
  //     left: 45em;
  //     top: 125em;
  //     // transform: translate(-50%, -50%);
  //   }
  // }



  // .service-container {
  //   &:first-of-type {
  //     z-index: 1;
  //     position: absolute;
  //     // transform: translate(-50%, -50%);
  //     left: 22em;
  //     top: 130em;
  //   }

  //   &:nth-child(2) {
  //     // transform: translate(-50%, -50%);
  //     z-index: 2;
  //     position: absolute;
  //     left: 73em;
  //     top: 135em;
  //   }
  // }



  // .codexio-service-description {
  //   display: none;
  // }

  // h4 {
  //   font-size: $large;
  //   // padding-top: $padding-top-space-large;
  //   // text-transform: uppercase;
  //   font-weight: 600;
  // }

  // img {
  //   width: 100px;
  //   height: auto;
  //   // border-radius: 50%;
  //   // text-align: center;
  //   // margin: auto;
  //   // opacity: 0.5;

  //   // &:hover {
  //   //   opacity: 1;
  //   // }
  // }

  // #selected-service-icon {
  //   opacity: 1;
  // }

  // .services-description-background {
  //   margin: auto;
  //   padding: $default-section-padding;
  //   margin-top: 2%;
  //   background: url("../img/background-services.png") no-repeat;
  //   background-size: cover;
  //   background-position: center;
  //   background-attachment: fixed;
  //   overflow: hidden;
  // }

  // .heading-description {
  //   color: $white;
  //   font-size: $large;
  //   text-align: center;
  //   padding-bottom: $padding-bottom-space-large;
  //   letter-spacing: 1px;
  //   font-weight: 400;
  //   text-transform: capitalize;
  // }

  .service-description {
    color: $white;
    font-size: $small;
    text-align: center;

    p:last-child {
      margin-top: 1%;
    }
  }
}

/* End of Services */

/* Projects */

#projects {
  padding: $default-section-padding;
  padding-top: 5em;

  h3 {
    @include title();
  }

  .locktrip-container {
    @include flexbox($justify-content: space-between);
  }

  .lock-trip-logo-container {
    // text-align: center;
    // margin: auto;
    padding-bottom: $padding-bottom-space-large;

    &:hover {
      opacity: 0.7;
    }

    .lock-trip-logo {
      width: 15%;
      // margin-left: 9%;
    }
  }

  p {
    font-size: $small;
    text-align: left;
    width: 70%;

    a {
      visibility: visible;
      color: $main-txt-color;
    }
  }

  .phone-locktrip-container {
    width: 50%;
    position: relative;

    .phone-locktrip {
      position: absolute;
      width: 75%;
      bottom: 1%;
      left: 20%;
    }
  }

  #desktop-images-container {
    // @include flexbox();
    padding-top: $padding-top-space-large;
    position: relative;
    padding-bottom: 10em;

    .demo-image:first-of-type {
      @include demo-image-style();
      position: absolute;
      left: 8em;
      z-index: 1;
    }

    .demo-image:nth-child(2) {
      @include demo-image-style();
      position: absolute;
      left: 20em;
      z-index: 2;
    }

    .demo-image:nth-child(3) {
      @include demo-image-style();
      position: absolute;
      z-index: 3;
      left: 35em;
    }
  }

  #mobile-images-container {
    display: none;
  }
}

/* End of Projects */

/* Clients */

#clients {
  padding: $default-section-padding;
  padding-top: 10em;

  h3 {
    @include title();
  }

  .clients-logos-container {
    @include flexbox();
  }

  .logo-container {
    // border: 1px solid lightgray;
    @include flexbox($justify-content: center);
    align-items: center;
    width: 35%;
    height: 150px;
    padding: 20px;
    // transition: border $animation-time;
    // opacity: 0.5;

    &:hover {
      // border: 1px solid black;
      // transition: border $animation-time;
      opacity: 0.7;
    }
  }

  .img-holder {
    width: 60%;

    img {
      width: $max;
      height: auto;
    }
  }

  .logo-container img {
    width: $max;
  }
}

/* End of Clients */

/* Careers */

#careers {
  background: url("../img/background-codexio-dev-camp.png") no-repeat;
  background-size: cover;
  padding: $default-section-padding;
  // background-attachment: fixed;

  h3 {
    @include title();
  }

  .careers-container {
    // @include flexbox();
    text-align: center;
  }

  .left-part-careers {
    width: 100%;
  }

  .codexio-email {
    color: $main-txt-color;
    font-weight: 500;
  }

  .codexio-dev-camp {
    h2 {
      @include heading();
    }
  }

  .text-dev-camp {
    p {
      padding-top: $padding-top-space-small;
      // width: 80%;
    }
  }

  .vacant-positions-container {
    h2 {
      padding-top: $padding-top-space-large;
      @include heading();
    }
  }

  .text-vacant-positions {
    padding-top: $padding-top-space-small;
    // width: 80%;
  }

  ul {
    text-align: center;
    padding-top: $padding-top-space-large;

    li {
      font-weight: 500;
      text-transform: uppercase;
      list-style: none;
      padding: 2px 0;
    }
  }

  //   .right-part-careers {
  //     width: 50%;
  //   }

  //   h2 {
  //     @include heading();
  //   }

  //   table {
  //     text-align: center;

  //     th {
  //       font-size: $small;
  //       font-weight: 500;
  //       border-bottom: 2px solid $button-border-color;
  //       padding: 20px 0;
  //     }

  //     td {
  //       border-bottom: 1px solid lightgray;
  //       padding: 20px 10px;
  //       font-size: $small;
  //     }
  //   }
}

/* End of Careers */

/* Contact us */

#contact-us {
  padding: $default-section-padding;

  .wrapper-contact-us {
    @include flexbox();
  }

  .left-part-contact-us {
    width: 60%;
  }

  /* Form */
  h3 {
    @include title();
    text-align: left;
  }

  .form-joint-input {
    @include flexbox();
    width: 80%;
  }

  input[type=text] {
    @include input();
  }

  input[type=text]:first-child {
    margin-right: 1%;
  }

  div[class=form-element] {
    font-weight: 500;
  }

  .form-element {
    margin-bottom: 1%;
  }

  .form-label-required {
    color: $button-border-color;
  }

  input[type=email] {
    @include input();
  }

  #message {
    @include input();
  }

  ::placeholder {
    font-weight: 300;
  }

  input[type=text]:focus,
  input[type=email]:focus,
  #message:focus {
    border: 1px solid $button-border-color;
  }

  button {
    @include button ();
    margin-top: 1%;
    border: 0;
    background: $button-border-color;
  }
}

/* End of Form */

/* Codexio Address */

.right-part-contact-us {
  text-align: right;
  width: 30%;
  padding-bottom: $padding-bottom-space-large;
}

.logo-container-contact-us {
  width: $max;

  img {
    width: 70%;
  }
}

.right-text-container {
  padding-top: 5%;

  p {
    padding-top: $padding-top-space-small;
  }
}

/* Social-media */

.social-media {
  width: 100%;
  float: right;
  padding-top: 5%;

  .link .fa {
    font-size: $large;

    &:hover {
      opacity: 0.9;
    }
  }

  .fa-facebook-square {
    color: #4267B2;
    padding: 0.1%;
  }

  .fa-linkedin-square {
    color: #0077B5;
  }

  .fa-instagram {
    color: #4267B2;
  }
}

/* End of contact us */

/* Footer */

footer {
  text-align: center;
  padding: $default-section-padding;
  background-color: #fff;

  img {
    width: 15%;
  }

  p {
    padding-top: $padding-top-space-small;
    font-size: $small;
    color: #595a5a;
    font-weight: 500;
  }
}

/* End of Footer */

/* Style for the map */

#map {
  height: 500px;
}

#content {
  padding: 20px 40px;
  text-align: center;
  font-size: $large;
  height: 100px;
  font-weight: 400;
}

/* Style for ScrollBar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #4083B0;
  border-radius: 5px;
}

/* End of ScrollBar */

/* Sticky-nav-bar */

.sticky {
  background-color: #3F5D91;
  color: #DBDBDB;
  opacity: 0.99;
  z-index: 999;
}

.sticky-header {
  background-color: rgba(63, 93, 145, 0.6);
  z-index: 999;
}

/* End of Sticky-nav-bar */

/* message */

.msg-success {
  @include infobox;
  background: #dbf9e0;
}

.msg-error {
  @include infobox;
  background: #ffe1e4;
}
