@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
//font-size
$small: 16px;
$large: 30px;
$extralarge: 3em;
// default padding = 100px
$padding: 100px 0;
// default line height
$line-height: 1.5;
// default transition time
$animation-time: 0.5s;
.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

// color auqa
$color:#61c4be;
// default width for each sections
@mixin button() {
    text-decoration: none;
    background: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 300;
    padding: 10px 30px;
    border: 2px solid $color;
    border-radius: 200px;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

@mixin infobox() {
    display: none;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: $line-height;
    font-size: $small;
}

/* Header */

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../img/background-header.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    .header-nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        .fa-bars {
            color: #fff;
            font-size: 1.8em;
            display: none;
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-logo-container {
                width: 20%;
                img {
                    width: 100%;
                }
            }
            li {
                display: inline-block;
                padding-left: 10px;
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: #fff;
                    font-size: 16px;
                }
                a:hover {
                    color: $color;
                }
            }
        }
    }
    .div-header-center {
        text-align: center;
        color: #fff;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        h1 {
            font-size: 7em;
            font-weight: 300;
            letter-spacing: 8px;
            margin: 0;
        }
        h2 {
            font-weight: 300;
            padding-bottom: 40px;
            text-transform: uppercase;
        }
        .button-hiring {
            @include button();
            background: $color;
            margin-right: 10px;
        }
        .button-contact-us {
            @include button();
            padding: 10px 40px;
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        }
        .button-hiring:hover {
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            border: 2px solid $color;
        }
        .button-contact-us:hover {
            background: $color;
        }
    }
}

/*  End of Header */

/* Info Codexio */

#info-codexio {
    padding: $padding;
    .codexio-title {
        margin-left: 20%;
        h3 {
            color: #2E5CA9;
            font-size: 3.5em;
            font-weight: 400;
            padding-bottom: 10px;
        }
        h4 {
            font-size: 1.8em;
            font-weight: 400;
            color: #595a5a;
            padding-bottom: 30px;
        }
    }
}

.codexio-info-text {
    margin-left: 20%;
    position: relative;
    img {
        width: 150px;
        position: absolute;
        left: -180px;
        top: 0px;
    }
    p {
        font-size: $small;
        line-height: 1.6;
        font-weight: 400;
    }
    p:last-child {
        padding-top: 6px;
    }
}

/* End of Info Codexio */

/* Services */

#services {
    background: #f2f2f3;
    padding: $padding;
    padding-bottom: 0;
    h3 {
        text-align: center;
        font-size: $extralarge;
        font-weight: 300;
        padding-bottom: 40px;
    }
    .services-info-text {
        margin: auto;
        font-size: $small;
        line-height: 1.5;
    }
    .services-icons {
        padding-top: 90px;
        display: flex;
        justify-content: space-around;
        .service-container {
            text-align: center;
            cursor: pointer;
        }
        .service-container h4 {
            font-size: $small;
            padding-top: 20px;
            text-transform: uppercase;
            font-weight: 400;
        }
        .service-container img {
            width: 100px;
            height: auto;
            border-radius: 50%;
            text-align: center;
            margin: auto;
            opacity: 0.5;
        }
        .service-container img:hover {
            opacity: 1;
        }
        #selected-service-icon {
            opacity: 1;
        }
    }
    .services-description-background {
        margin: auto;
        padding: $padding;
        margin-top: 70px;
        background: url("../img/background-services.png") no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        overflow: hidden;
    }
    .heading-description {
        color: #fff;
        font-size: $large;
        text-align: center;
        padding-bottom: 40px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    .service-description {
        color: #fff;
        font-size: $small;
        text-align: center;
    }
    .service-description p:last-child {
        margin-top: 1%;
    }
}

/* End of Services */

/* Projects */

#projects {
    padding: $padding;
    padding-bottom: 0;
    h3 {
        text-align: center;
        font-size: $extralarge;
        font-weight: 300;
    }
    .lock-trip-logo-container {
        text-align: center;
        margin: auto;
        padding: 25px;
        .lock-trip-logo {
            width: 20%;
        }
    }
    .lock-trip-logo-container:hover {
        -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
    }
    p {
        padding-left: 30px;
        line-height: 1.5;
        font-size: $small;
        a {
            text-decoration: none;
            visibility: visible;
            color: #2E5CA9;
        }
    }
    #projects-container {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        img {
            cursor: pointer;
            transition: transform .7s;
            width: 28%;
            height: 150px;
            margin: 0 auto;
        }
        img:hover {
            opacity: 0.7;
        }
    }
    #images-container {
        position: fixed;
        top: 15%;
        left: 10%;
        width: 80%;
        height: 80%;
        z-index: 1;
        #opened-image {
            width: 95%;
            height: 100%;
        }
        #close-button {
            font-size: 40px;
            float: right;
            color: #ff5d67;
            position: relative;
            bottom: 30px;
            opacity: 0.85;
        }
        #close-button:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

/* End of Projects */

/* Clients */

#clients {
    padding: $padding;
    h3 {
        text-align: center;
        font-size: $extralarge;
        font-weight: lighter;
        padding-bottom: 40px;
    }
    .clients-logos-container {
        display: flex;
        justify-content: space-between;
        .logo-container {
            border: 1px solid lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            height: 150px;
            padding: 20px;
            transition: border $animation-time;
            .img-holder {
                width: 60%;
            }
            .img-holder img {
                width: 100%;
                height: auto;
            }
        }
        .logo-container img {
            width: 100%;
        }
        .logo-container:hover {
            border: 1px solid black;
            transition: border $animation-time;
        }
    }
}

/* End of Clients */

/* Careers */

#careers {
    background: url("../img/careers-background.jpg") no-repeat;
    background-size: cover;
    padding: $padding;
    h3 {
        text-align: center;
        font-size: $extralarge;
        font-weight: lighter;
        padding-bottom: 40px;
    }
    #careers-container {
        display: flex;
        justify-content: center;
    }
    .left-part-careers {
        width: 50%;
        .codexio-email {
            color: #2E5CA9;
            font-weight: 500;
            font-size: $small;
        }
        .codexio-dev-camp {
            h2 {
                font-size: $large;
                font-weight: 500;
                letter-spacing: 1px;
            }
        }
        .text-dev-camp {
            p {
                padding-top: 18px;
                padding-bottom: 30px;
                width: 80%;
                font-size: 18px;
            }
        }
        .vacant-positions-container {
            h2 {
                letter-spacing: 1px;
                font-size: $large;
                font-weight: 500;
            }
        }
        .text-vacant-positions {
            padding-top: 18px;
            padding-bottom: 30px;
            width: 80%;
            font-size: 18px;
        }
        ul {
            padding-top: 15px;
            li {
                text-transform: uppercase;
                list-style: none;
                padding: 3px 0;
                font-size: 18px;
            }
        }
    }
    .right-part-careers {
        width: 50%;
        h2 {
            letter-spacing: 1px;
            font-size: $large;
            font-weight: 500;
            padding-left: 20px;
        }
        table {
            text-align: center;
            th {
                font-size: 18px;
                font-weight: 500;
                border-bottom: 2px solid $color;
                padding: 20px 10px;
            }
            td {
                border-bottom: 1px solid lightgray;
                padding: 20px 10px;
                font-size: 18px;
            }
        }
    }
}

/* End of Careers */

/* Contact us */

#contact-us {
    padding: $padding;
    #wrapper-contact-us {
        display: flex;
        justify-content: space-between;
        .left-part-contact-us {
            width: 60%;
            /* Form */
            form {
                h3 {
                    padding-bottom: 50px;
                    font-size: $extralarge;
                    font-weight: lighter;
                }
                .form-joint-input {
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    input[type=text] {
                        padding: 10px;
                        border: 1px solid gray;
                        border-radius: 6px;
                        outline: none;
                       width: 50%;
                    }
                    input[type=text]:first-child {
                        margin-right: 1%;
                    }
                }
                .form-element {
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .form-label-required {
                    color: $color;
                }
                input[type=email] {
                    padding: 10px;
                    border: 1px solid gray;
                    border-radius: 6px;
                    outline: none;
                    width: 80%;
                }
                #message {
                    padding: 10px;
                    border: 1px solid gray;
                    border-radius: 6px;
                    outline: none;
                    width: 80%;
                }
                ::placeholder {
                    font-weight: lighter;
                }
                input[type=text]:focus {
                    border: 1px solid $color;
                }
                input[type=email]:focus {
                    border: 1px solid $color;
                }
                #message:focus {
                    border: 1px solid $color;
                }
                
                button {
                    font-weight: 300;
                    margin-top: 20px;
                    border: none;
                    background: $color;
                    color: #fff;
                    padding: 10px 40px;
                    font-size: 1.3em;
                    cursor: pointer;
                    border-radius: 200px;
                    outline: none;
                }
            }
        }
    }
}

/* End of Form */

/* Right Part Codexio-logo with address */

.right-part-contact-us {
    width: 30%;
    div {
        width: 70%;
        img {
            width: 100%;
        }
    }
}

/* Social-media */

.social-media {
    display: flex;
    p {
        padding-left: 10px;
        padding-top: 10px;
        font-size: $small;
    }
    i {
        font-size: 40px;
        padding-left: 10px;
        color: #4267B2;
    }
    i:hover {
        opacity: 0.9;
    }
    .fa-linkedin-square {
        color: #0077B5;
    }
}

.right-text-container p {
    padding-left: 10px;
    padding-bottom: 5px;
}

/* End of contact us */

/* Footer */

footer {
    text-align: center;
    padding: $padding;
    background-color: #29394B;
    img {
        width: 15%;
    }
    p {
        padding-top: 10px;
        font-size: 14px;
        color: #999E9A;
        font-weight: 600;
    }
}

/* End of Footer */

/* Style for the map */

#map {
    height: 500px;
}

#content {
    padding: 60px 60px 20px 60px;
    text-align: center;
    font-size: 17px;
    height: 100px;
    font-weight: 400;
}

/* Style for ScrollBar */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #4083B0;
    border-radius: 5px;
}

/* End of ScrollBar */

/* Sticky-nav-bar */

.sticky {
    background-color: #3F5D91;
    color: #DBDBDB;
    opacity: 0.99;
    z-index: 999;
}

.sticky-header {
    background-color: rgba(63, 93, 145, 0.6);
    z-index: 999;
}

/* End of Sticky-nav-bar */

/* message */

.msg-success {
    @include infobox;
    background: #c8ffd1;
}

.msg-error {
    @include infobox;
    background: #ffe1e4;
}