@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import './partials/variables';
@import './partials/mixins';
// default width for each sections
.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: $max;
  font-family: 'Roboto', sans-serif;
  line-height: $line-height;
  font-size: $default-body-font;
}

img {
  max-width: $max;
}

.link {
  text-decoration: none;
  color: $white;
  font-size: $small;
}

/* Header */

#header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../img/background-header.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  .header-nav-bar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: $max;
    padding: 1%;
  }
  .primary-nav-bar {
    @include flexbox();
    align-items: center;
  }
  .header-logo-container {
    width: 20%;
    img {
      width: $max;
    }
  }
  .fa-bars,
  .fa-power-off {
    display: none;
    color: $white;
    font-size: $large;
  }
  li {
    display: inline-block;
    padding-left: 1em;
    a {
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover {
        color: $button-border-color;
      }
    }
  }
  .navigation {
    transform: translate(0px, -1999px)
  }
  .div-header-center {
    text-align: center;
    color: $white;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  h1 {
    font-size: 7em;
    font-weight: 300;
    letter-spacing: 8px;
    margin: 0;
  }
  h2 {
    font-weight: 300;
    padding-bottom: $padding-bottom-space-small;
    text-transform: uppercase;
  }
  .button-hiring {
    @include button();
    background: $button-border-color;
    margin-right: 0.1%;
    &:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      border: 2px solid $button-border-color;
    }
  }
  .button-contact-us {
    @include button();
    padding: 10px 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    &:hover {
      background: $button-border-color;
    }
  }
}

/* End of Header */

/* Info Codexio */

#info-codexio {
  padding: $default-section-padding;
  .codexio-title {
    text-align: center;
  }
  h3 {
    color: $main-txt-color;
    font-size: 3em;
    font-weight: 400;
    padding-bottom: 0.1%;
  }
  h4 {
    font-size: $small;
    font-weight: 400;
    color: #595a5a;
    padding-bottom: $padding-bottom-space-small;
  }
}

.info-logo-container {
  @include flexbox();
  img {
    width: 11%;
    height: 5%;
  }
  p {
    padding-left: 2%;
    font-size: $small;
    font-weight: 400;
    &:last-child {
      padding-top: $padding-top-space-small;
    }
  }
}

/* End of Info Codexio */

/* Services */

#services {
  background: #f2f2f3;
  padding: $default-section-padding;
  padding-bottom: 0;
  h3 {
    @include title();
  }
  .services-info-text {
    margin: auto;
    font-size: $small;
  }
  .services-icons {
    @include flexbox();
    padding-top: 5%;
  }
  .service-container {
    text-align: center;
    cursor: pointer;
  }
  h4 {
    font-size: $small;
    padding-top: $padding-top-space-large;
    text-transform: uppercase;
    font-weight: 400;
  }
  img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  #selected-service-icon {
    opacity: 1;
  }
  .services-description-background {
    margin: auto;
    padding: $default-section-padding;
    margin-top: 2%;
    background: url("../img/background-services.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }
  .heading-description {
    color: $white;
    font-size: $large;
    text-align: center;
    padding-bottom: $padding-bottom-space-large;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .service-description {
    color: $white;
    font-size: $small;
    text-align: center;
    p:last-child {
      margin-top: 1%;
    }
  }
}

/* End of Services */

/* Projects */

#projects {
  padding: $default-section-padding;
  padding-bottom: 0;
  h3 {
    @include title();
  }
  .lock-trip-logo-container {
    text-align: center;
    margin: auto;
    padding-bottom: $padding-bottom-space-small;
    &:hover {
      -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
    }
    .lock-trip-logo {
      width: 15%;
    }
  }
  p {
    font-size: $small;
    a {
      visibility: visible;
      color: $main-txt-color;
    }
  }
  #desktop-images-container {
    @include flexbox();
    padding-top: $padding-top-space-large;
    .demo-image:first-of-type {
      @include demo-image-style('../img/first-desktop.png');
    }
    .demo-image:nth-child(2) {
      @include demo-image-style('../img/second-desktop.png');
    }
    .demo-image:nth-child(3) {
      @include demo-image-style('../img/third-desktop.png');
    }
  }
}

/* End of Projects */

/* Clients */

#clients {
  padding: $default-section-padding;
  h3 {
    @include title();
  }
  .clients-logos-container {
    @include flexbox();
  }
  .logo-container {
    border: 1px solid lightgray;
    @include flexbox($justify-content: center);
    align-items: center;
    width: 25%;
    height: 150px;
    padding: 20px;
    transition: border $animation-time;
    &:hover {
      border: 1px solid black;
      transition: border $animation-time;
    }
  }
  .img-holder {
    width: 60%;
    img {
      width: $max;
      height: auto;
    }
  }
  .logo-container img {
    width: $max;
  }
}

/* End of Clients */

/* Careers */

#careers {
  background: url("../img/background-careers.jpg") no-repeat;
  background-size: cover;
  padding: $default-section-padding;
  h3 {
    @include title();
  }
  #careers-container {
    @include flexbox();
  }
  .left-part-careers {
    width: 50%;
  }
  .codexio-email {
    color: $main-txt-color;
    font-weight: 500;
  }
  .codexio-dev-camp {
    h2 {
      @include heading();
    }
  }
  .text-dev-camp {
    p {
      padding-top: $padding-top-space-small;
      width: 80%;
    }
  }
  .vacant-positions-container {
    h2 {
      padding-top: $padding-top-space-large;
      @include heading();
    }
  }
  .text-vacant-positions {
    padding-top: $padding-top-space-small;
    width: 80%;
  }
  ul {
    padding-top: $padding-top-space-large;
    li {
      text-transform: uppercase;
      list-style: none;
      padding: 2px 0;
    }
  }
  .right-part-careers {
    width: 50%;
  }
  h2 {
    @include heading();
  }
  table {
    text-align: center;
    th {
      font-size: $small;
      font-weight: 500;
      border-bottom: 2px solid $button-border-color;
      padding: 20px 0;
    }
    td {
      border-bottom: 1px solid lightgray;
      padding: 20px 10px;
      font-size: $small;
    }
  }
}

/* End of Careers */

/* Contact us */

#contact-us {
  padding: $default-section-padding;
  #wrapper-contact-us {
    @include flexbox();
  }
  .left-part-contact-us {
    width: 60%;
  }
  /* Form */
  h3 {
    @include title();
    text-align: left;
  }
  .form-joint-input {
    @include flexbox();
    width: 80%;
  }
  input[type=text] {
    @include input();
  }
  input[type=text]:first-child {
    margin-right: 1%;
  }
  div[class=form-element] {
    font-weight: 500;
  }
  .form-element {
    margin-bottom: 1%;
  }
  .form-label-required {
    color: $button-border-color;
  }
  input[type=email] {
    @include input();
  }
  #message {
    @include input();
  }
  ::placeholder {
    font-weight: 300;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  #message:focus {
    border: 1px solid $button-border-color;
  }
  button {
    @include button ();
    margin-top: 1%;
    border: 0;
    background: $button-border-color;
  }
}

/* End of Form */

/* Codexio Address */

.right-part-contact-us {
  text-align: right;
  width: 30%;
  padding-bottom: $padding-bottom-space-large;
}

.logo-container-contact-us {
  width: $max;
  img {
    width: 70%;
  }
}

.right-text-container {
  padding-top: 5%;
  p {
    padding-top: $padding-top-space-small;
  }
}

/* Social-media */

.social-media {
  width: 100%;
  float: right;
  padding-top: 5%;
  .link .fa {
    font-size: $extralarge;
    &:hover {
      opacity: 0.9;
    }
  }
  .fa-facebook-square {
    color: #4267B2;
    padding: 0.1%;
  }
  .fa-linkedin-square {
    color: #0077B5;
  }
}

/* End of contact us */

/* Footer */

footer {
  text-align: center;
  padding: $default-section-padding;
  background-color: #29394B;
  img {
    width: 15%;
  }
  p {
    padding-top: $padding-top-space-small;
    font-size: $small;
    color: #999E9A;
    font-weight: 400;
  }
}

/* End of Footer */

/* Style for the map */

#map {
  height: 500px;
}

#content {
  padding: 20px 40px;
  text-align: center;
  font-size: $large;
  height: 100px;
  font-weight: 400;
}

/* Style for ScrollBar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #4083B0;
  border-radius: 5px;
}

/* End of ScrollBar */

/* Sticky-nav-bar */

.sticky {
  background-color: #3F5D91;
  color: #DBDBDB;
  opacity: 0.99;
  z-index: 999;
}

.sticky-header {
  background-color: rgba(63, 93, 145, 0.6);
  z-index: 999;
}

/* End of Sticky-nav-bar */

/* message */

.msg-success {
  @include infobox;
  background: #dbf9e0;
}

.msg-error {
  @include infobox;
  background: #ffe1e4;
}

// .colored-background {
//   background-color: #3F5D91;
//   opacity: 0.99;
// }
// .toast-error {
//   // color: #000 !important;
//   background-color: #ffe1e4 !important;
//   opacity: 1 !important;
// }
